.main-card {
  --main-col: #ffeba7;
  --bg-col: #2a2b38;
  --bg-field: #1f2029;
  padding: 1.9rem 1.2rem;
  text-align: center;
  background: var(--bg-col);
  border-radius: 10px;
  border: 1px solid var(--main-col);
  user-select: none;
  box-shadow: 1px 1px 50px #01ECFF;
}

/*Inputs*/
.field {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  gap: 0.5rem;
  background-color: var(--bg-field);
  border-radius: 4px;
}

.input-icon {
  width: 1em;
  color: var(--main-col);
  fill: var(--main-col);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--main-col);
  padding: 0.5em 1em 0.5em 0;
  caret-color: var(--main-col);
}

.filed:has(.input-field:valid) {
  border: 1px solid var(--main-col);
}

/*Text*/
.title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--main-col);
  text-shadow: 1px 1px 20px var(--main-col);
  text-transform: uppercase;
}

/*Buttons*/
.btn {
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: var(--main-col);
  color: var(--bg-col);
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
  background-color: #01ECFF;
}

.btn-link {
  color: #f5f5f5;
  display: block;
  font-size: 0.75em;
  transition: color 0.3s ease-out;
}

/*Hover & focus*/
.field input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.btn:hover {
  background-color: var(--bg-field);
  color: var(--main-col);
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

.btn-link:hover {
  color: var(--main-col);
  text-decoration: underline;
}
